In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from collections import Counter
import re
import warnings # Turn off warnings
warnings.filterwarnings('ignore')
# Pandas options
pd.set_option("max_rows", 30)
pd.set_option("max_columns", None)
pd.set_option("precision", 3)

In [2]:
def format_turnstile_df(turnstile_csv_df):
    """
    turnstile_csv_df is the dataframe of the imported turnstile.csv file
    Warning: Run once per file ONLY. The function will throw an error if run twice on the same file.
    """
    global turnstile_df
    turnstile_df = turnstile_csv_df
    
    # Reformatting steps (Warning: May take a few seconds.)
    turnstile_df.columns = turnstile_df.columns.str.replace(' ','') # Remove spaces in column names
    turnstile_df.columns = turnstile_df.columns.str.replace('/','') # Remove "/" in column names
    turnstile_df['DATETIMERAW'] = "" # Create new column called 'DATETIMERAW'
    turnstile_df['DATETIMERAW'] = turnstile_df.DATE + turnstile_df.TIME # Populate 'DATETIMERAW' with date and time concatenated string
    turnstile_df.DATETIMERAW = turnstile_df.DATETIMERAW.apply(lambda x : dt.datetime.strptime(x, "%m/%d/%Y%H:%M:%S")) # Convert DATETIMERAW into datetime object
    turnstile_df.TIME = turnstile_df.TIME.apply(lambda x : dt.datetime.strptime(x, "%H:%M:%S")) # Convert TIME into datetime object
    turnstile_df = turnstile_df.drop(columns = ['DATE']) # Drop DATE column

    
    
def valuecount(timestamp1, timestamp2):
    """
    This function references turnstile_df, which is the output of format_turnstile_df().
    It grabs the data at two individual time stamps and outputs the difference in the count between those timestamps.
    Both timestamp1 and timestamp2 should be datetime objects. Also, timestamp2 should be greater than timestamp1.
    This function is not run as a standalone function. It is run within the grabweek() function.
    """
    global value_count_df
    
    # Grab data
    turnstile_df1 = turnstile_df.loc[turnstile_df['DATETIMERAW'].isin([timestamp1])].reset_index(drop=True) # Grab dataset for timestamp1
    turnstile_df2 = turnstile_df.loc[turnstile_df['DATETIMERAW'].isin([timestamp2])].reset_index(drop=True) # Grab dataset for timestamp2
    
    # Merge two datasets, drop any rows that don't form a complete dataset
    turnstile_df_merge12 = turnstile_df1.merge(turnstile_df2.drop_duplicates(), on=["CA", "UNIT", "SCP", "STATION", "LINENAME", "DIVISION", "DESC"], how='outer').dropna().reset_index(drop=True)
    
    # Create a new dataframe with essential data
    turnstile_df_valuecounts = turnstile_df_merge12[["STATION"]] # Grabbing "STATION" name data
    turnstile_df_valuecounts["ENTRIES DIFFERENCE"] = (turnstile_df_merge12['ENTRIES_x'] - turnstile_df_merge12['ENTRIES_y']).abs() # Grabbing "ENTRIES" difference counts
    turnstile_df_valuecounts["EXITS DIFFERENCE"] = (turnstile_df_merge12['EXITS_x'] - turnstile_df_merge12['EXITS_y']).abs() # Grabbing "EXITS" difference counts
    
    # Computes the "ENTRIES" + "EXITS" for each counter
    turnstile_df_valuecounts["TOTAL"] = turnstile_df_valuecounts["ENTRIES DIFFERENCE"] + turnstile_df_valuecounts["EXITS DIFFERENCE"]  
    
    # Grab names of "STATION" and number of times they appear in turnstile_df_valuecounts
    station_count = Counter(turnstile_df_valuecounts['STATION'])
    station_dict = {i:station_count[i] for i in station_count}
    
    # For each "STATION" name, sum up all the counts from all units
    value_count_dict = dict(zip(list(station_dict.keys()), [[turnstile_df_valuecounts.loc[turnstile_df_valuecounts['STATION'] == i, 'TOTAL'].sum()] for i in list(station_dict.keys())]))
    
    # Grab list of most popular stations and puts it into a sorted dataframe column
    value_count_df = pd.DataFrame.from_dict(value_count_dict).transpose() # Grabbing values
    value_count_df.columns = ["ValueCount"] # Renaming column to ValueCount
    value_count_df = value_count_df.sort_values(by=["ValueCount"], ascending=False) # Sorting by count

In [3]:
turnstile_df = pd.read_csv(r"Turnstile Data/Downloads/turnstile_190330.txt")
format_turnstile_df(turnstile_df)
turnstile_df # Preview

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,TIME,DESC,ENTRIES,EXITS,DATETIMERAW
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 00:00:00,REGULAR,6989774,2370411,2019-03-23 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 04:00:00,REGULAR,6989795,2370413,2019-03-23 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 08:00:00,REGULAR,6989813,2370436,2019-03-23 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 12:00:00,REGULAR,6989924,2370512,2019-03-23 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 16:00:00,REGULAR,6990200,2370573,2019-03-23 16:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 20:00:00,REGULAR,6990562,2370623,2019-03-23 20:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 00:00:00,REGULAR,6990734,2370648,2019-03-24 00:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 04:00:00,REGULAR,6990758,2370653,2019-03-24 04:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 08:00:00,REGULAR,6990772,2370676,2019-03-24 08:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 12:00:00,REGULAR,6990860,2370731,2019-03-24 12:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 16:00:00,REGULAR,6991054,2370788,2019-03-24 16:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 20:00:00,REGULAR,6991295,2370839,2019-03-24 20:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 00:00:00,REGULAR,6991446,2370866,2019-03-25 00:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 04:00:00,REGULAR,6991452,2370869,2019-03-25 04:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,1900-01-01 08:00:00,REGULAR,6991491,2370992,2019-03-25 08:00:00
...,...,...,...,...,...,...,...,...,...,...,...
204580,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 13:00:00,REGULAR,5554,370,2019-03-27 13:00:00
204581,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 17:00:00,REGULAR,5554,370,2019-03-27 17:00:00
204582,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 21:00:00,REGULAR,5554,370,2019-03-27 21:00:00
204583,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 01:00:00,REGULAR,5554,370,2019-03-28 01:00:00
204584,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 05:00:00,REGULAR,5554,370,2019-03-28 05:00:00
204585,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 09:00:00,REGULAR,5554,370,2019-03-28 09:00:00
204586,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 13:00:00,REGULAR,5554,370,2019-03-28 13:00:00
204587,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 17:00:00,REGULAR,5554,370,2019-03-28 17:00:00
204588,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 21:00:00,REGULAR,5554,370,2019-03-28 21:00:00
204589,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 01:00:00,REGULAR,5554,370,2019-03-29 01:00:00
204590,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 05:00:00,REGULAR,5554,370,2019-03-29 05:00:00
204591,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 09:00:00,REGULAR,5554,374,2019-03-29 09:00:00
204592,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 13:00:00,REGULAR,5554,374,2019-03-29 13:00:00
204593,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 17:00:00,REGULAR,5554,374,2019-03-29 17:00:00
204594,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,1900-01-01 21:00:00,REGULAR,5554,374,2019-03-29 21:00:00

In [4]:
# Grab data between 8am and 12pm for the whole week
valuecount(dt.datetime(2019, 3, 23, 8, 0), dt.datetime(2019, 3, 23, 12, 0))
value_count_df_08to12 = value_count_df[["ValueCount"]]
value_count_df_08to12.columns = ["23"]

for i in range(24, 30):
    valuecount(dt.datetime(2019, 3, i, 8, 0), dt.datetime(2019, 3, i, 12, 0))
    value_count_df_08to12["{}".format(i)] = value_count_df[["ValueCount"]]

value_count_df_08to12.to_csv(r"ValueCount Data/valuecount_190330_df_08to12.csv")
value_count_df_08to12 # Preview

                      23       24       25       26       27       28       29
34 ST-HERALD SQ  25176.0  21563.0  63791.0  66774.0  66130.0  67708.0  60023.0
34 ST-PENN STA   20202.0  19107.0  62738.0  65230.0  64952.0  65617.0  59090.0
TIMES SQ-42 ST   20062.0  14902.0  47673.0  50636.0  51769.0  50793.0  47351.0
FLUSHING-MAIN    15778.0  13458.0  25622.0  24946.0  25286.0  25467.0  24612.0
59 ST            14402.0  10672.0  32089.0  33663.0  34159.0  34388.0  32675.0
42 ST-PORT AUTH  14115.0  11135.0  35493.0  34578.0  37329.0  35119.0  31509.0
59 ST COLUMBUS   13942.0  11529.0  33727.0  35259.0  33759.0  36013.0  31776.0
86 ST            13641.0  10922.0  29429.0  30591.0  31581.0  31770.0  29980.0
GRD CNTRL-42 ST  13410.0  10688.0  43376.0  45776.0  44607.0  46089.0  41085.0
JKSN HT-ROOSVLT  13341.0  10460.0  20320.0  20683.0  20735.0  20985.0  20335.0
CHAMBERS ST      11537.0   7829.0  31435.0  33443.0  32300.0  31964.0  29419.0
145 ST            9170.0   7340.0  16333.0  16948.0  17171.0  17163.0  15864.0
23 ST             9163.0   6332.0  31866.0  33884.0  34003.0  34069.0  32397.0
ATL AV-BARCLAY    8912.0   7238.0  20878.0  21112.0  20772.0  20970.0  18010.0
125 ST            8546.0   7302.0  16259.0  16644.0  17120.0  16578.0  16315.0
...                  ...      ...      ...      ...      ...      ...      ...
ASTORIA DITMARS     53.0     14.0   9204.0  10056.0   9850.0   9973.0   9572.0
COURT SQ-23 ST      20.0      0.0   2443.0   2412.0   2354.0   2374.0   2315.0
39 AV               20.0      6.0   1241.0   1345.0   1374.0   1303.0   1357.0
121 ST              17.0      0.0    812.0    843.0    912.0    882.0    921.0
METROPOLITAN AV     17.0      0.0   1420.0   1511.0   1460.0   1383.0   1488.0
BROADWAY            16.0      0.0   5153.0   5528.0   5608.0   5394.0   5318.0
GREENPOINT AV       13.0      5.0   4736.0   5123.0   5246.0   5280.0   4969.0
36 AV               12.0      6.0   3053.0   3337.0   3127.0   3182.0   3095.0
WOODHAVEN BLVD      11.0      0.0   1610.0   1647.0   1589.0   1571.0   1491.0
CYPRESS HILLS        5.0      5.0    529.0    591.0      NaN    618.0    555.0
30 AV                2.0      1.0   9406.0   9882.0  10075.0   9920.0   9368.0
75 ST-ELDERTS        0.0      0.0   1411.0   1432.0   1347.0   1403.0   1407.0
85 ST-FOREST PK      0.0      1.0   1299.0   1252.0   1302.0   1303.0   1208.0
AVENUE X             0.0      0.0   1031.0   1035.0   1120.0   1114.0    912.0
AVENUE P             0.0      1.0   1088.0   1098.0   1037.0   1084.0   1007.0

[210 rows x 7 columns]

In [5]:
# Grab data between 12pm and 4pm for the whole week
valuecount(dt.datetime(2019, 3, 23, 12, 0), dt.datetime(2019, 3, 23, 16, 0))
value_count_df_12to16 = value_count_df[["ValueCount"]]
value_count_df_12to16.columns = ["23"]

for i in range(24, 30):
    valuecount(dt.datetime(2019, 3, i, 12, 0), dt.datetime(2019, 3, i, 16, 0))
    value_count_df_12to16["{}".format(i)] = value_count_df[["ValueCount"]]

value_count_df_12to16.to_csv(r"ValueCount Data/valuecount_190330_df_12to16.csv")
value_count_df_12to16 # Preview

                      23       24       25       26       27       28       29
34 ST-HERALD SQ  40700.0  38454.0  43867.0  46261.0  47879.0  47244.0  51148.0
TIMES SQ-42 ST   34951.0  24895.0  31273.0  33252.0  36902.0  34758.0  37970.0
34 ST-PENN STA   31296.0  31864.0  38424.0  39698.0  40470.0  41576.0  46083.0
86 ST            23054.0  19206.0  24510.0  25485.0  25737.0  26855.0  28292.0
59 ST COLUMBUS   22925.0  21428.0  28915.0  30193.0  30406.0  31938.0  31385.0
59 ST            20674.0  16936.0  23107.0  24393.0  25416.0  25503.0  26778.0
GRD CNTRL-42 ST  20560.0  16642.0  24346.0  26003.0  26922.0  28212.0  29180.0
FLUSHING-MAIN    18083.0  17176.0  19607.0  19299.0  20467.0  19465.0  19550.0
CHAMBERS ST      17457.0  12978.0  25413.0  27054.0  27264.0  27046.0  28084.0
ATL AV-BARCLAY   16842.0  14482.0  15835.0  16250.0  16468.0  16782.0  17823.0
JKSN HT-ROOSVLT  16615.0  13936.0  17249.0  17186.0      NaN  17424.0  17860.0
42 ST-PORT AUTH  15743.0  14092.0  17790.0  18444.0  18850.0  18961.0  20642.0
23 ST            15113.0  12062.0  23415.0  25984.0  26413.0  26737.0  27809.0
14 ST            14769.0  13204.0  14122.0  15455.0  14598.0  16072.0  16991.0
34 ST-HUDSON YD  14412.0  15898.0   8439.0   8779.0   9649.0   9610.0  10862.0
...                  ...      ...      ...      ...      ...      ...      ...
NASSAU AV           31.0     13.0   2971.0   3027.0   3260.0   3160.0   3674.0
BROADWAY            27.0      2.0   2418.0   2508.0   2608.0   2587.0   2699.0
METROPOLITAN AV     10.0      0.0   1361.0   1403.0   1577.0   1398.0   1439.0
39 AV               10.0      9.0    606.0    567.0    635.0    646.0    765.0
36 AV               10.0     10.0   1703.0   1777.0   1803.0   1856.0   1802.0
CYPRESS HILLS        8.0      6.0    453.0    456.0    492.0    550.0    487.0
121 ST               5.0      1.0    635.0    766.0    856.0    718.0    867.0
WOODHAVEN BLVD       3.0      0.0   1228.0   1307.0   1337.0   1261.0   1264.0
COURT SQ-23 ST       2.0      2.0   1748.0   1739.0   1718.0   1802.0   2021.0
GREENPOINT AV        1.0      1.0   3080.0   3029.0   3194.0   3435.0   3718.0
75 ST-ELDERTS        1.0      0.0   1147.0   1139.0   1230.0   1133.0   1087.0
AVENUE P             0.0      0.0    515.0    532.0    575.0    501.0    647.0
30 AV                0.0      0.0   4139.0   4121.0   4401.0   4444.0   4632.0
85 ST-FOREST PK      0.0      0.0    923.0    935.0    982.0    923.0   1008.0
AVENUE X             0.0      0.0    844.0    835.0    905.0    789.0    808.0

[210 rows x 7 columns]

In [6]:
# Grab data between 4pm and 8pm for the whole week
valuecount(dt.datetime(2019, 3, 23, 16, 0), dt.datetime(2019, 3, 23, 20, 0))
value_count_df_16to20 = value_count_df[["ValueCount"]]
value_count_df_16to20.columns = ["23"]

for i in range(24, 30):
    valuecount(dt.datetime(2019, 3, i, 16, 0), dt.datetime(2019, 3, i, 20, 0))
    value_count_df_16to20["{}".format(i)] = value_count_df[["ValueCount"]]

value_count_df_16to20.to_csv(r"ValueCount Data/valuecount_190330_df_16to20.csv")
value_count_df_16to20 # Preview

                      23       24       25       26       27       28       29
34 ST-HERALD SQ  47905.0  39556.0  86615.0  88372.0  89255.0  90113.0  85328.0
TIMES SQ-42 ST   36562.0  28193.0  62591.0  67917.0  69396.0  68892.0  66038.0
34 ST-PENN STA   33898.0  31061.0  78157.0  78323.0  79422.0  83548.0  78473.0
59 ST COLUMBUS   24166.0  20465.0  43885.0  46426.0  45504.0  46360.0  40377.0
86 ST            22782.0  16680.0  36351.0  38134.0  36717.0  38124.0  35400.0
GRD CNTRL-42 ST  20555.0  16257.0  50547.0  52165.0  52425.0  52877.0  48780.0
59 ST            20197.0  15764.0  38156.0  40146.0  40298.0  40926.0  37696.0
FLUSHING-MAIN    19467.0  16540.0  30309.0  31480.0  30759.0  31613.0  31370.0
ATL AV-BARCLAY   17247.0  13758.0  27344.0  28975.0  27533.0  28417.0  31694.0
23 ST            17217.0  12449.0  45414.0  48219.0  48878.0  49522.0  44160.0
42 ST-PORT AUTH  17069.0  15747.0  38140.0  38445.0  38117.0  38269.0  37227.0
14 ST            16918.0  13318.0  24841.0  27244.0  26795.0  27337.0  26064.0
JKSN HT-ROOSVLT  16461.0  13293.0  24260.0  24182.0  23978.0  24379.0  25236.0
BEDFORD AV       15705.0  12971.0  15020.0  13077.0  14718.0  15349.0  14997.0
47-50 STS ROCK   15452.0  11479.0  43539.0  44752.0  45188.0  44947.0  40966.0
...                  ...      ...      ...      ...      ...      ...      ...
39 AV               13.0     13.0   1469.0   1469.0   1451.0   1612.0   1572.0
36 AV               11.0     11.0   3953.0   4126.0   3917.0   4054.0   3911.0
BROADWAY             8.0      0.0   6356.0   6505.0   6305.0   6553.0   6472.0
COURT SQ-23 ST       6.0      1.0   2527.0   2663.0   2674.0   2594.0   2558.0
ASTORIA DITMARS      4.0      2.0  10368.0  10670.0  10505.0  10608.0  10225.0
CYPRESS HILLS        2.0      5.0    654.0    623.0    573.0    646.0    517.0
30 AV                2.0      0.0   9672.0   9799.0   9482.0   9879.0   9266.0
121 ST               1.0      1.0   1031.0   1154.0   1221.0   1320.0   1241.0
75 ST-ELDERTS        1.0      0.0   1474.0   1501.0   1470.0   1462.0   1379.0
AVENUE X             0.0      0.0   1090.0   1122.0   1124.0   1101.0   1025.0
AVENUE P             0.0      0.0    860.0    858.0    816.0    862.0    748.0
85 ST-FOREST PK      0.0      0.0   1269.0   1227.0   1294.0   1252.0   1194.0
WOODHAVEN BLVD       0.0      1.0   1686.0   1733.0   1630.0   1652.0   1647.0
METROPOLITAN AV      0.0      0.0   2330.0   2368.0   2237.0   2429.0   2231.0
GREENPOINT AV        0.0     10.0   5687.0   5775.0   6034.0   6288.0   6165.0

[210 rows x 7 columns]