In [1]:
import warnings
from glob import glob
import re
import pandas as pd

# webpage
import bs4
from urllib.request import urlopen
import requests

warnings.filterwarnings('ignore')  # Turn off warnings

In [ ]:
data_dir = "data/downloads"

# Set Params

In [2]:
# Get links from mta turnstile page
URL = "http://web.mta.info/developers/turnstile.html"
soup = bs4.BeautifulSoup(urlopen(URL))

turnstile_links = sorted([
    link.get("href") for link in soup.findAll("a")
    if "data" in str(link.get("href"))
])

# Filter on dates
filtered_turnstile_links = [
    link for link in turnstile_links
    if re.match('data/nyct/turnstile/turnstile_(?P<date>\d*).txt', link)['date'] >= '180331'
    and re.match('data/nyct/turnstile/turnstile_(?P<date>\d*).txt', link)['date'] <= '190330'
]

# Get Data

In [3]:
# get data and write to file
# Note: even though the files are labeled as .txt, they're actually csv
for file in filtered_turnstile_links:
    url="http://web.mta.info/developers/"+file
    filename = re.match('data/nyct/turnstile/(?P<filename>turnstile_\d*).txt', file)['filename']
    
    r = requests.get(url)
    with open(f'{data_dir}/{filename}.csv', 'w') as f:
        f.write(r.text)

# Check

In [4]:
# Preview
downloads = glob(f'{data_dir}/*')
df = pd.read_csv(downloads[0])
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/07/2018,00:00:00,REGULAR,6573108,2226461
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/07/2018,04:00:00,REGULAR,6573129,2226465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/07/2018,08:00:00,REGULAR,6573139,2226495
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/07/2018,12:00:00,REGULAR,6573211,2226561
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/07/2018,16:00:00,REGULAR,6573425,2226604